body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: url('./assets/img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.headerTitle {
    text-align: center;
}

.tasksList {
    width: 40%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(125, 9, 174, 0.612);
    color: white;
    border-radius: 10px;
    padding: 3px 4px;
}

.registrationForm {
    width: 40%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(125, 9, 174, 0.612);
    border-radius: 10px;
    padding: 3px 4px;
}

.icon {
    cursor: pointer;
    color: white;
}

.leftIcon {
    margin-right: 6px;
}

.fullWidth {
    width: 100%;
}

.editTaskInput {
    width: 89%;
}

.configIcons {
    display: flex;
    width: 37.5px;
}

.taskText {
    color: white;
    cursor: pointer;
    padding: 0px 15px;
}

.emptyListText {
    color: white;
}

.form {
    width: 100%;
    padding-top: 5px;
}

.formText {
    color: white;
    font-size: 16px;
}

.signLink {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}

.logoutLink {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 1px;
    display: block;
    color: white;
    margin-top: 20px;
}

.btnFormItem {
    padding-top: 10px;
}

.formBtn {
    width: 100%;
}

.formNumberInput {
    width: 100%;
}

@media screen and (max-height: 800px) {
    .formText, .signLink {
        font-size: 14px;
    }
}